body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
}

canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  max-width: 100vw;
  max-height: 100vh;
}

canvas {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#app {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body.touch #game-container {
  flex: none;
}

#touch-controls {
  flex: 1;
  position: relative;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  padding-bottom: env(safe-area-inset-bottom);
  max-width: 530px;
  max-height: 300px;
  width: 100%;
}

#touch-controls svg {
  position: absolute;
  inset: 0;
}
